[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "copent"]
	path = copent
	url = https://github.com/majianthu/copent
	shallow = true
	registered = true
